<!DOCTYPE html>
<html>

<head>
    <link rel="manifest" href="manifest.json">

    <link rel="icon" type="image/png" sizes="512x512" href="assets/logo512.png">
    <link rel="apple-touch-icon" type="image/png" sizes="512x512" href="assets/logo512.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/logo192.png">
    <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="assets/logo192.png">
    <link rel="icon" type="image/png" sizes="64x64" href="assets/logo64.png">
    <link rel="apple-touch-icon" type="image/png" sizes="64x64" href="assets/logo64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/logo32.png">
    <link rel="apple-touch-icon" type="image/png" sizes="32x32" href="assets/logo32.png">
    <link rel="icon" type="image/png" sizes="24x24" href="assets/logo24.png">
    <link rel="apple-touch-icon" type="image/png" sizes="24x24" href="assets/logo24.png">
    <link rel="icon" type="image/png" sizes="12x12" href="assets/logo12.png">
    <link rel="apple-touch-icon" type="image/png" sizes="12x12" href="assets/logo12.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="32x32" href="assets/favicon.png">
    <link rel="icon" type="image/x-icon" sizes="24x24" href="assets/favicon24.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="24x24" href="assets/favicon24.png">
    <link rel="icon" type="image/x-icon" sizes="12x12" href="assets/favicon12.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="12x12" href="assets/favicon12.png">
</head>

<body>
</body>

</html>
